/_site
/node_modules
/npm-debug.log
/yarn-error.log
/vendor

# MISC FILES
.env*
!.env.*
.cache
.DS_Store
.idea
.project
.nova
.settings
.favorites.json
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.vscode
config.codekit3
prepros-6.config
/backup/*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
_notes
