---
layout: default
---

<h2>{{ title }}</h2>

<p><small>Share URL: <span class="copy-text">{{ site.url }}/go/{{ go }}</span></small></p>

{{ content | safe }}

{# <p>
	{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
	{%- endfor %}
</p> #}

  {# {%- set nextPost = collections.arguments | getNextCollectionItem(page) %}
	{%- if nextPost %}
		<p>
			Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
		</p>
  {% endif %}

	{%- set previousPost = collections.arguments | getPreviousCollectionItem(page) %}
	{%- if previousPost %}
		<p>
			Previous:
			<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
		</p>
  {% endif %} #}

<p><a href="/">← Return to all arguments</a></p>