---
layout: default
---

<header class="spacer-t-lg">
	<div class="pt-4 border-t-4 border-primary-600">
		<h2 class="max-w-screen-sm font-bold leading-none tracking-tight fl-text-6xl spacer-b">{{ title }}</h2>
	</div>
</header>

<div class="mx-auto prose lg:prose-lg spacer-b">
	{{ content | safe }}
</div>

{# <p>
	{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
	{%- endfor %}
</p> #}

  {# {%- set nextPost = collections.arguments | getNextCollectionItem(page) %}
	{%- if nextPost %}
		<p>
			Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
		</p>
  {% endif %}

	{%- set previousPost = collections.arguments | getPreviousCollectionItem(page) %}
	{%- if previousPost %}
		<p>
			Previous:
			<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
		</p>
  {% endif %} #}

<footer class="pt-4 border-t-4 border-primary-600">
	<li><small>Share URL: <span class="copy-text">{{ site.url }}/go/{{ go }}</span></small></li>
	<li><small><a href="https://github.com/VeganSpeak/veganspeak/blob/dev/{{ page.inputPath }}">Edit this page on GitHub</a></small></li>
</footer>

<p><a href="/">← Return to all arguments</a></p>