---
layout: default
---

<h2>{{ title }}</h2>

{{ content | safe }}

{# <p>
	{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
	{%- endfor %}
</p> #}

<p><a href="/">← Return to all arguments</a></p>