html {
	scroll-behavior: smooth;
	scroll-padding: 45px
}

body {
	background-color: #fff;
	padding: 50px;
	font: 400 1rem/1.5 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	color: #444
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #323334;
	margin: 0 0 .75rem;
	padding-top: 1rem
}

dl,
ol,
p,
pre,
table,
ul {
	margin: 0 0 1rem
}

ol {
	margin-bottom: 3rem;
	font-size: 1.125rem
}

ol a {
	display: block
}

ol li+li {
	padding-top: .25rem
}

h1,
h2,
h4 {
	line-height: 1.1
}

h2 {
	font-size: 2rem;
	color: #323334
}

h4 {
	font-size: 1.75rem
}

h3,
h5,
h6 {
	font-size: 1.25rem;
	color: #323334
}

h4 {
	padding-top: 2rem;
	display: inline-block
}

a {
	color: #00a85c;
	text-decoration: underline;
	-webkit-text-decoration-color: #fff;
	text-decoration-color: #fff;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	-webkit-text-decoration-thickness: 1px;
	text-decoration-thickness: 1px;
	transition: all .3s ease-in-out
}

a:focus,
a:hover {
	color: #00a798;
	text-decoration: underline;
	-webkit-text-decoration-color: #00a798;
	text-decoration-color: #00a798;
	-webkit-text-decoration-thickness: 1px;
	text-decoration-thickness: 1px
}

.wrapper {
	width: 860px;
	margin: 0 auto
}

img,
svg {
	max-width: 100%;
	height: auto
}

header {
	width: 200px;
	float: left;
	position: fixed
}

header P {
	font-size: .875rem
}

section {
	width: 600px;
	float: right;
	padding-bottom: 50px
}

blockquote {
	font-family: Georgia, Times, Times New Roman, serif;
	font-size: 1.125em;
	font-style: italic;
	margin-left: 1.5rem;
	margin-right: 3rem
}

blockquote footer {
	margin-top: .5rem
}

.site-footer {
	width: 240px;
	float: left;
	position: fixed;
	bottom: 50px
}

.footnote {
	font-size: .872rem;
	opacity: .75;
	padding-top: 4rem
}

@media screen and (max-width:960px) {
	.wrapper {
		width: auto;
		margin: 0
	}

	.site-footer,
	header,
	section {
		float: none;
		position: static;
		width: auto
	}

	header img,
	header svg {
		max-width: 200px
	}

	section {
		margin: 0 0 20px
	}
}

@media screen and (max-width:720px) {
	header {
		padding: 0
	}
}

@media screen and (max-width:480px) {
	html {
		scroll-padding: 0
	}

	body {
		padding: 15px
	}
}

.youtube-player,
.youtube-player-eager {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 1rem
}

.youtube-player iframe,
.youtube-player-eager iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.youtube-player img {
	object-fit: cover;
	display: block;
	left: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all
}

.youtube-player img:hover {
	-webkit-filter: brightness(75%)
}

.youtube-player .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url('https://i.imgur.com/TxzC70f.png') no-repeat;
	cursor: pointer
}

.permalink a {
	opacity: .5;
	text-decoration: none;
	transition: opacity .2s ease-in-out
}

.permalink a:hover,
.permalink a:focus {
	opacity: 1
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0
}

#site-logo path.logo-text {
	fill: #323334
}

@media (prefers-color-scheme:dark) {
	body {
		background-color: #19121e;
		color: #c1c7c7
	}

	#site-logo path.logo-text {
		fill: #eee
	}

	a {
		color: #00bc6a;
		-webkit-text-decoration-color: #19121e;
		text-decoration-color: #19121e
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #ddd
	}

	h4:target a {
		color: #00d8b3
	}
}