html {
	scroll-behavior: smooth;
	scroll-padding: 45px;
	height: 100%;
}

body {
	background-color: #fff;
	padding: 50px;
	font: 400 1rem/1.5 ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #444;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #323334;
	margin: 0 0 .75rem;
	padding-top: 1rem
}

dl,
ol,
p,
pre,
table,
ul {
	margin: 0 0 1rem 0
}

ol, ul {
	font-size: 1.125rem
}

ul {
	padding-left: 1.15em;
}

ol {
	list-style: decimal-leading-zero;
	margin-bottom: 3rem;
	padding-left: 2em;
	font-size: 1.125rem
}

ol a,
ul a {
	display: block
}

ol li+li,
ul li+li {
	padding-top: .25rem
}

h1,
h2,
h4 {
	line-height: 1.1
}

h2 {
	font-size: 2rem;
	color: #323334
}

h4 {
	font-size: 1.75rem
}

h3,
h5,
h6 {
	font-size: 1.25rem;
	color: #323334
}

h4 {
	padding-top: 2rem;
	display: inline-block
}

a {
	color: #00a85c;
	text-decoration: underline;
	-webkit-text-decoration-color: #fff;
	text-decoration-color: #fff;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	-webkit-text-decoration-thickness: 1px;
	text-decoration-thickness: 1px;
}

a:focus,
a:hover {
	color: #00a798;
	text-decoration: underline;
	-webkit-text-decoration-color: #00a798;
	text-decoration-color: #00a798;
	-webkit-text-decoration-thickness: 1px;
	text-decoration-thickness: 1px
}

.wrapper {
	width: 860px;
	margin: 0 auto
}

img,
svg {
	max-width: 100%;
	height: auto
}

header {
	width: 200px;
	float: left;
	position: fixed
}

header P {
	font-size: .875rem
}

section {
	width: 600px;
	float: right;
	padding-bottom: 50px
}

blockquote {
	font-family: Georgia, Times, Times New Roman, serif;
	font-size: 1.125em;
	font-style: italic;
	margin-left: 1.5rem;
	margin-right: 3rem
}

blockquote footer {
	margin-top: .5rem
}

.site-footer {
	width: 240px;
	float: left;
	position: fixed;
	bottom: 50px
}

.footnote {
	font-size: .872rem;
	opacity: .75;
	padding-top: 4rem
}

@media screen and (max-width:960px) {
	.wrapper {
		width: auto;
		margin: 0
	}

	.site-footer,
	header,
	section {
		float: none;
		position: static;
		width: auto
	}

	header img,
	header svg {
		max-width: 200px
	}

	section {
		margin: 0 0 20px
	}
}

@media screen and (max-width:720px) {
	header {
		padding: 0
	}
}

@media screen and (max-width:480px) {
	html {
		scroll-padding: 0
	}

	body {
		padding: 15px
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0
}

#site-logo path.logo-text {
	fill: #323334
}

.copy-text {
  -webkit-user-select: all;
  user-select: all;
}

@media (prefers-color-scheme:dark) {
	body {
		background-color: #19121e;
		color: #c1c7c7
	}

	#site-logo path.logo-text {
		fill: #eee
	}

	a {
		color: #00bc6a;
		-webkit-text-decoration-color: #19121e;
		text-decoration-color: #19121e
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #ddd
	}

	h4:target a {
		color: #00d8b3
	}
}