@layer base {
	/* Set the base line-height to be fluid.
	Calc `em` based line height, bigger line height for smaller font size and smaller line height for bigger font size: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
	* {
		line-height: calc(0.5rem + 1em + 0.5rem);
	}

	html {
		color: theme('colors.body.DEFAULT');
		font-family: theme('fontFamily.sans');
		scroll-behavior: smooth;
	}
}