---
layout: default
---

<div class="lg:prose-xl spacer-t max-w-screen-md mx-auto prose">
	<p>Vegan Speak was originally published by Cesar Ferradas and later maintained by Julien
		Graisse (Merodrem) and shared under a GNU General Public License. Vegan Speak is not affiliated with any of the third party links, videos or information provided.</p>

	<p>Many people have compiled similar lists to this one, so we would like to credit George Martin’s <a
			href="https://www.carnismdebunked.com/general-ethical/" target="_blank" rel="noreferrer noopener">Carnism
			Debunked</a>, Vegan Sidekick’s <a href="https://www.godfist.com/vegansidekick/guide.php" target="_blank"
			rel="noreferrer noopener">Guide to justifications for harming and exploiting animals</a>, Benjamin McCormick's <a
			href="https://vomadlife.com/blogs/news/every-argument-against-veganism-debunked" target="_blank"
			rel="noreferrer noopener">Every Argument Against Veganism DEBUNKED</a> and <a
			href="https://veganfacts.info">veganfacts.info</a> for sharing their ideas and arguments.</p>
</div>
