---
layout: default
---

<h3 class="font-bold leading-none tracking-tight fl-text-6xl spacer-t-lg">Trending <span class="sr-only">Arguments</span></h3>

<ul class="grid gap-6 font-bold leading-tight sm:gap-8 sm:grid-cols-2 lg:grid-cols-3 lg:gap-12 fl-text-xl spacer-t">
	{% for post in collections.popular | sort(false, false, 'data.trendOrder') %}
		<li class="pt-3 border-t-4 border-primary-600">
			<a class="block h-full pb-2" href="{{ post.url | url }}">
				{{ post.data.title }}
			</a>
			{# <p class="pt-4 text-base leading-snug text-zinc-800">
				{% if post.data.description %}
					{{ post.data.description }}
				{% else %}
					{{ post.templateContent|striptags|truncate(160) }}
				{% endif %}
			</p> #}
		</li>
	{% endfor %}
</ul>

<h3 class="pb-4 font-bold leading-none tracking-tight border-b-4 fl-text-6xl spacer-t-lg border-primary-600">All Arguments</h3>

<ol class="space-y-2 text-lg spacer-t-sm">
	{% for post in collections.arguments | sort(false, false, 'data.order') %}
		<li>
			<a href="{{ post.url | url }}">
				{{ post.data.title }}
			</a>
		</li>
	{% endfor %}
</ol>

<div class="prose spacer-t">
	<p>Vegan Speak was originally published at veganspeak.org by Cesar Ferradas and later <a
		href="https://github.com/merodrem/Vegan-Speak-Guide" target="_blank" rel="noreferrer noopener">Julien
		Graisse (Merodrem)</a> and shared under a GNU General Public License. Vegan Speak is not affiliated with
	any of the third party links, videos or information provided.</p>

	<p>
		<a href="/privacy-policy/">Privacy Policy</a>
	</p>
</div>