---
layout: default
---

<h2>The Vegan Arguments Guide</h2>
<p>Thinking of going vegan, but not sure if it’s all just a fad? Are you already vegan, but have a hard time
	replying to your non-vegan friends and family? Do you eat meat and believe veganism doesn’t make sense? Say no
	more, and continue reading.</p>
<p>Many people have compiled similar lists to this one, so I’d like to credit George Martin’s <a
		href="https://www.carnismdebunked.com/general-ethical/" target="_blank" rel="noreferrer noopener">Carnism
		Debunked</a>, Vegan Sidekick’s <a href="https://www.godfist.com/vegansidekick/guide.php" target="_blank"
		rel="noreferrer noopener">Guide to justifications for harming and exploiting animals</a>, <a
		href="https://vomadlife.com/blogs/news/every-argument-against-veganism-debunked" target="_blank"
		rel="noreferrer noopener">Every Argument Against Veganism DEBUNKED</a> by Benjamin McCormick and <a
		href="https://veganfacts.info">veganfacts.info</a> for sharing their ideas and arguments.</p>

<h3>Trending Arguments</h3>

<ul>
	{% for post in collections.popular | sort(false, false, 'data.trendOrder') %}
		<li>
			<a href="{{ post.url | url }}">
				{{ post.data.title }}
			</a>
			{# <p class="text-gray-800">
				{% if post.data.description %}
					{{ post.data.description }}
				{% else %}
					<small>{{ post.templateContent | striptags | truncate(160) }}</small>
				{% endif %}
			</p> #}
		</li>
	{% endfor %}
</ul>


<h3>All Arguments</h3>

<ol>
	{% for post in collections.arguments  | sort(false, false, 'data.order') %}
		<li>
			<a href="{{ post.url | url }}">
				{{ post.data.title }}
			</a>
			{# <p class="text-gray-800">
				{% if post.data.description %}
					{{ post.data.description }}
				{% else %}
					<small>{{ post.templateContent | striptags | truncate(160) }}</small>
				{% endif %}
			</p> #}
		</li>
	{% endfor %}
</ol>


<div class="footnote">
	<p>Vegan Speak was originally published at veganspeak.org by Cesar Ferradas and later <a
			href="https://github.com/merodrem/Vegan-Speak-Guide" target="_blank" rel="noreferrer noopener">Julien
			Graisse (Merodrem)</a> and shared under a GNU General Public License. Vegan Speak is not affiliated with
		any of the third party links, videos or information provided.</p>

	<p><a href="privacy-policy/">Privacy Policy</a></p>
</div>