	<footer class="site-footer">
		<p>Sharing is caring 💚<br>
			<a href="https://twitter.com/intent/tweet?url=https://veganspeak.org/&text=The%20Vegan%20Arguments%20Guide"
				title="Share on Twitter" target="_blank" rel="noopener noreferrer">
				<span>Twitter</span>
			</a>
			|
			<a href="https://www.facebook.com/sharer/sharer.php?u=https://veganspeak.org/" title="Share on Facebook"
				target="_blank" rel="noopener noreferrer">
				<span>Facebook</span>
			</a>
			|
			<a href="https://reddit.com/submit?url=https://veganspeak.org/&title=The%20Vegan%20Arguments%20Guide"
				title="Share on Reddit" target="_blank" rel="noopener noreferrer">
				<span>Reddit</span>
			</a>
		</p>

		<p><small><a href="https://github.com/VeganSpeak/veganspeak/blob/dev/{{ page.inputPath }}">Edit this page on GitHub</a></small></p>
	</footer>