<script async src="https://rum.cronitor.io/script.js"></script>
<script>
	window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
	cronitor('config', { clientKey: 'ae0f554e6c3e57872f04d22a18039846' });
</script>
