<header class="flex justify-between gap-4 spacer-sm">
	<h1 class="font-bold leading-none tracking-tight fl-text-xl">
		<a href="/">
			Vegan Speak
		</a>
	</h1>

	<div class="max-w-lg font-semibold">
		<p>Thinking of going vegan, but not sure if it’s all just a fad? Are you already vegan, but have a hard time
		replying to your non-vegan friends and family? Do you eat meat and believe veganism doesn’t make sense? Say no
		more, and continue reading.</p>
		{# <p>Many people have compiled similar lists to this one, so I’d like to credit George Martin’s <a
			href="https://www.carnismdebunked.com/general-ethical/" target="_blank" rel="noreferrer noopener">Carnism
			Debunked</a>, Vegan Sidekick’s <a href="https://www.godfist.com/vegansidekick/guide.php" target="_blank"
			rel="noreferrer noopener">Guide to justifications for harming and exploiting animals</a>, <a
			href="https://vomadlife.com/blogs/news/every-argument-against-veganism-debunked" target="_blank"
			rel="noreferrer noopener">Every Argument Against Veganism DEBUNKED</a> by Benjamin McCormick and <a
			href="https://veganfacts.info">veganfacts.info</a> for sharing their ideas and arguments.</p> #}
	</div>
</header>