<header class="flex items-center justify-between max-w-screen-md gap-4 mx-auto spacer-sm">
	<h1 class="font-black leading-none tracking-tighter uppercase fl-text-xl">
		<a href="/">
			VSpeak
		</a>
	</h1>

	<p class="text-lg">
		<a href="/about/">About</a>
	</p>
</header>