<header class="spacer-sm flex items-center justify-between max-w-screen-md gap-4 mx-auto">
	<h1 class="fl-text-xl font-black leading-none tracking-tighter uppercase">
		<a href="/">
			Vegan Speak
		</a>
	</h1>

	<p class="text-lg">
		<a href="/about/">About</a>
	</p>
</header>
